<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Node.js via iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Enable Node.js debugging (disable in production) -->
    <iisnode nodeProcessCommandLine="node.exe" debuggingEnabled="false" />
    
    <!-- Rewrite rules for SPA routing -->
    <rewrite>
      <rules>
        <!-- Don't rewrite requests for existing files -->
        <rule name="ExistingFiles" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Don't rewrite requests for existing directories -->
        <rule name="ExistingDirectories" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Rewrite all other requests to server.js for SPA routing -->
        <rule name="SPA">
          <match url="^(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- MIME types for static assets -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <!-- WebSocket configuration -->
    <webSocket enabled="true" />
  </system.webServer>
  
  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>
